.userInputSection {
    background-color: #336699;
    height: 60px;
    margin-left: 350px;
    width: 800px;
}
.userSerachTextBox{
float: left;
margin-left: 150px;
margin-top: 20px;
}
.searchButton {
    margin-top: 22px !important;
    margin-left: 0px;
    border-width: 0px;
}
.dataDisplaySection {
    margin-left: 350px;
    width: 800px;
    
}
.userListSection{
    height: 100px;
    background-color: white;
    margin: 20px;
    display: flex;
}
.avatarImageIcon{
    height: 60px;
    width: 60px;
    border-radius: 33px;
}

.userNameLabel{
    font-size: 18px;
}
.userInfoSection{
    margin-left: 15px;
    margin-top: 5px;
}
.detailButtonSection{
    margin-left: 160px;
    margin-top: 50px;
    top: 55px;
}
.collapseButtonSection{
    top: 55px;
}
.detailSection{
    margin-left: 120px;
}
.repoDetails:nth-child(even) { 
    background-color: lightgray; 
}
.divOfUserCard{
    background-color: ghostwhite;
    margin-top: 15px; margin-bottom:  15px;
    
    border: 1px solid #f8f8ff;
    box-shadow:  -1px 1px #f8f8ff,
         -2px 2px #f8f8ff,
         -3px 3px #f8f8ff,
         -4px 4px #f8f8ff,
         -5px 5px #f8f8ff;
         
}