
<section id="userInputSection">
  <form>
    <fieldset>
          <label>Select list</label>
          <select id = "myList">
            <option value = "1">one</option>
            <option value = "2">two</option>
            <option value = "3">three</option>
            <option value = "4">four</option>
          </select>

  <input type="text" id="userSearchString" name="userSeracchTextBox">
  <input type="button" id="searchButton" (click)="searchUser()">
</fieldset>
</form>
</section>

<section id="dataDisplaySection">
  <div *ngFor="let user of users">
    <span>{{user.login}}</span>
  </div>
</section>