
<section id="userInputSection" class="userInputSection">
  <form (submit)="searchUser()">
  <input type="text" id="userSearchString" name="userSerachTextBox" [(ngModel)]="userSearchKeyword" class="userSerachTextBox">
</form>
</section>

<section id="dataDisplaySection" class="dataDisplaySection">
  <span>Total Results: {{totalResult}}</span>
  <div *ngFor="let user of pageOfItems" style="margin-top: 15px; margin-bottom:  15px;">
    <div>
    <div class="userListSection" class="row">
      <span class="col-md-2">
      <img src={{user.avatar_url}} class="avatarImageIcon"></span>
      <span class="userInfoSection" class="col-md-5" style="margin-left: -70px;">
    <strong class="userNameLabel">{{user.login}}</strong>
    <p>Profile Url :{{user.html_url}}</p>
  </span>
  <div class="detailButtonSection" class="col-md-2"*ngIf="!user.toggle">
    <input type="button" id="detailButton" value="Details" (click)="getDetailsForUser(user)">
  </div>
  <div class="collapseButtonSection" class="col-md-2"*ngIf="user.toggle">
    <input type="button" id="collapseButton" value="Collapse" (click)="toggleButton(user)">
  </div>
</div>
  <div *ngIf="details !== null && user.toggle" class="detailSection" >
    <div *ngFor="let repo of user.details" class="repoDetails">
      <div class="row">
      <span class="col-md-4">
      {{repo.name}}</span>
      <span class="col-md-5">
        {{repo.language}}
      </span>
    </div>
    </div>
  </div>
  </div>
  </div>
  <div class="divForPagination">
    <jw-pagination [items]="users" (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</section>