
<section id="userInputSection" class="userInputSection">
  <form (submit)="searchUser()">
  <input type="text" id="userSearchString" name="userSerachTextBox" [(ngModel)]="userSearchKeyword" class="userSerachTextBox">
</form>
</section>

<section id="dataDisplaySection" class="dataDisplaySection">
  <span>Total Results: {{totalResult}}</span>
  <div *ngFor="let user of users">
    <div class="userListSection">
      <img src={{user.avatar_url}} class="avatarImageIcon">
      <span class="userInfoSection">
    <strong class="userNameLabel">{{user.login}}</strong>
    <p>Profile Url :{{user.html_url}}</p>
  </span>
  <span class="detailButtonSection">
    <input type="button" id="detailButton" value="Details">
  </span>
  </div>
  </div>
</section>